:root {
  --primary-text-color: #42376a;
  --secondary-text-color: #b46088;
  --primary-title-color: #ebf0f2;
  --secondary-title-color: #b46088;
  --dark-background-color: #27283d;
  --light-background-color: #ebf0f2;
  --accent-color: #fcc25a;
  --time: 350ms;
  --time-function: ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--light-background-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */

.header {
  border-bottom: 1px solid var(--accent-color);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 90px;
  cursor: pointer;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: block;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 0 var(--primary-text-color);
  transition: color var(--time) var(--time-function), box-shadow var(--time) var(--time-function);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
  box-shadow: inset 200px 0 0 0 var(--primary-text-color);
}

.header-navigation-list {
  display: flex;
}

.header-navigation-item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--time) var(--time-function);
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-navigation-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: transform var(--time) var(--time-function);
  transform: scaleX(0);
  transform-origin: left;
}

.header-navigation-link:hover::after,
.header-navigation-link:focus::after {
  transform: scaleX(1);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: scaleX(1);
}

.header-contacts {
  margin-left: auto;
  display: flex;
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--time) var(--time-function);
  display: flex;
  align-items: center;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.header-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contact-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: transform var(--time) var(--time-function);
  transform: scaleX(0);
  transform-origin: left;
}

.header-contact-link:hover::after,
.header-contact-link:focus::after {
  transform: scaleX(1);
}

/* HERO */
.hero-section {
  padding: 100px 0;
  background-color: var(--dark-background-color);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-content {
  display: block;
  margin-left: 50px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(206, 206, 192, 0.2);
  width: fit-content;
  transition: box-shadow var(--time) var(--time-function);
}

.hero-title {
  font-weight: 800;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.hero-text {
  margin-top: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.hero-button {
  font-family: Mulish;
  padding: 10px 20px;
  display: block;
  margin: 30px auto 0;
  border-radius: 20px;
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  transition: background-color var(--time) var(--time-function),
    box-shadow var(--time) var(--time-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #bb944d;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-image {
  border-radius: 20px;
  cursor: pointer;
  transition: transform 800ms var(--time-function);
}

.hero-image:hover,
.hero-image:focus {
  transform: rotateY(180deg);
}

/* ABOUT */
.about-section {
  padding-top: 94px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.about-text-wrapper {
  background-color: rgba(206, 206, 192, 0.4);
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  font-weight: 500;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.03em;
}

.about-subtitle-wrapper {
  margin-top: 50px;
  background-color: var(--primary-text-color);
  padding: 10px 20px;
  border-radius: 20px;
  width: fit-content;
}

.about-subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.about-skills-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.about-skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(206, 206, 192, 0.4);
  border-radius: 20px;
  padding: 10px 20px;
  width: 200px;
  height: 250px;
  margin: 15px;
}

.about-subtitle-wrapper-position {
  margin-top: 30px;
}

.about-skill-item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* EXPERIENCE */
.experience {
  padding-top: 94px;
}

.experience-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.experience-text-wrapper {
  background-color: rgba(206, 206, 192, 0.4);
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.experience-sub-title {
  font-weight: 500;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.03em;
}

.experience-list {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.experience-item:not(:last-child) {
  margin-right: 30px;
}

.experience-item {
  background-color: rgba(206, 206, 192, 0.4);
  border-radius: 20px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  width: 370px;
}

.experience-item-overlay-wrapper {
  position: relative;
}

.experience-item-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.experience-item-overlay-text-wrapper {
  bottom: 0;
  position: absolute;
  background-color: rgba(66, 55, 106, 0.8);
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-item-overlay-text {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.experience-item-content-wrapper {
  padding: 20px 25px;
}

.experience-item-company {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.experience-item-content-item:not(:last-child) {
  margin-bottom: 10px;
}

.experience-item-content-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.experience-item-content-item-text-accent {
  color: var(--primary-text-color);
  font-weight: 700;
}

.experience-before-list {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

/* EDUCATION  */
.education-section {
  padding: 94px 0;
}

.education-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.education-list {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.education-item {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(206, 206, 192, 0.4);
  border-radius: 20px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  padding-top: 30px;
}

.education-item-overlay-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-item-image {
  border-radius: 20px;
}

.education-item-field {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  position: absolute;
  top: 0px;
  background-color: rgba(66, 55, 106, 0.8);
  width: 225px;
  padding: 15px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* FOOTER */

.footer-section {
  background-color: var(--dark-background-color);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  cursor: pointer;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ebf0f2;
  display: block;
  transition: color var(--time) var(--time-function);
  margin-bottom: 10px;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.footer-address {
  font-style: normal;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #ebf0f2;
  display: flex;
  align-items: center;
  transition: color var(--time) var(--time-function);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

.footer-contact-icon {
  fill: currentColor;
  margin-right: 15px;
}

.footer-right {
  margin-left: 90px;
}

.footer-title {
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  color: #ebf0f2;
  display: block;
  transition: color var(--time) var(--time-function);
  margin-bottom: 10px;
}

.footer-socials-list {
  display: flex;
}

.footer-socials-item:not(:last-child) {
  margin-right: 15px;
}

.footer-socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  border-radius: 50%;
  transition: color var(--time) var(--time-function),
    background-color var(--time) var(--time-function);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  color: #27283d;
  background-color: #bb944d;
}

.footer-socials-icon {
  fill: currentColor;
}
